APP_ENV=dev
APP_NAME=fastapi-enterprise

VALKEY_HOST=localhost
VALKEY_PORT=6379
VALKEY_PASSWORD=valkey123

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=user
POSTGRES_PASSWORD=password
